.git
.idea
target
backend/target
frontend/node_modules
frontend/.next
frontend/out
dist
logs
certs
.env
.env.*
docs/elasticsearch/data
docs/canal/logs
docs/mysql/data
docs/redis
docs/kafka/data
deploy/mysql/data
deploy/redis/data
deploy/kafka/data
deploy/elasticsearch/data
deploy/canal/logs
