DEPLOY_HOOK_URL=http://your-server:8989/deploy/upload
DEPLOY_SECRET=8533ec5e9a124f1150d2fd76208e5f3350e816c285acfb97a3993e4de9a93cac

# Optional:
# DEPLOY_ENV_FILE=.env.deploy
# SKIP_BUILD=1
# DOCKER_PLATFORM=linux/amd64
